/*字體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*全域設定*/
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: "Noto Sans TC", "Noto Sans", serif;
    font-weight: 400;
    color: #000;
    line-height: 1.5;

}

/*共用表頭*/
.wrap {
    max-width: 1296px;
    margin: 0 auto;
}

.header,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 12px;
}

.header {
    height: 96px;
    border-bottom: 1px solid #F1F1F1;
}

.menu-btn {
    cursor: pointer;
    background-color: #fff;
    border: 0px;
}

.material-symbols-outlined {
    font-size: 0px;
}

.menu {
    gap: 40px;
}

.menu a {
    padding: 4px 8px;
}

.menu a:hover {
    font-weight: 600;
    background:
        linear-gradient(#919191, #919191) top right,
        linear-gradient(#919191, #919191) top right,
        linear-gradient(#919191, #919191) bottom left,
        linear-gradient(#919191, #919191) bottom left,
        linear-gradient(#919191, #919191) bottom right,
        linear-gradient(#919191, #919191) bottom right,
        linear-gradient(#919191, #919191) top left,
        linear-gradient(#919191, #919191) top left;
    background-size: 8px 1px, 1px 8px;
    background-repeat: no-repeat;
}

/*RWD手機板 表頭*/
@media(max-width: 767px) {
    .header {
        height: 56px;
        position: relative;
    }

    .material-symbols-outlined {
        font-size: 40px;
        margin-right: 12px;
    }

    .menu {
        display: none;
        position: absolute;
        top: 56px;
        z-index: 1;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        gap: 24px;
        padding: 40px 0;
        font-size: 20px;
    }

    .menu a {
        display: block;
    }

    .close {
        display: none;
    }

    .open {
        display: flex;
    }
}

/*介紹Banner*/
.wrap-banner {
    display: block;
    height: 460px;
    text-align: center;
}

.banner {
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    position: absolute;
    z-index: -999;
}

.banner-in {
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-p1 {
    width: 100%;
    color: #1E1E1E;
    height: 192px;
    font-size: 24px;
    background-image: url("../img/quote-left.png"), url("../img/quote-right.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 9px;
}

.mark-p {
    position: relative;
}

.mark::after {
    position: absolute;
    content: "";
    background-image: url("../img/mark.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 148px;
    height: 8px;
    bottom: 0px;
    left: -10px;
    z-index: -1;
}

.banner-p2 {
    display: flex;
    gap: 40px;
}

.banner-p2-p {
    max-width: 298px;
    font-size: 16px;
    color: #3B3B3B;
}

.banner-p2-p h2 {
    color: #5b5b5b;
    margin-bottom: 8px;
    position: relative;
    padding-bottom: 4px;
}

.banner-p2-p h2::after {
    content: "";
    background-color: #c1c1c1;
    width: 24px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4px;
}

/*RWD手機板 Banner*/
@media(max-width: 767px) {
    .wrap-banner {
        height: 540px;
    }

    .banner {
        height: 540px;
    }

    .banner-in {
        gap: 40px;
    }

    .banner-p1 {
        max-width: 300px;
        background-image: url("../img/quote-left.png");
        background-position: top center;
        font-size: 20px;
        padding-top: 64px;
    }

    .banner-p2 {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 40px;
    }
}

/*作品集內容*/
.wrap-content {
    padding: 120px 0;
}

.content {
    margin: 0 auto;
    max-width: 1296px;
    font-family: "Noto Sans";
    color: #3b3b3b;
    gap: 24px;
}

.content,
.tags {
    display: flex;
    flex-wrap: wrap;
}

.content {
    justify-content: center;
}

.items {
    margin-bottom: 70px;
}

.titles {
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 24px;
}

.content a {
    text-decoration: none;
    color: black;
}

.content img {
    max-width: 636px;
    display: block;
    border-radius: 8px;
    outline: 1px solid #F1F1F1;
}

.tags a {
    border-radius: 16px;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 4px;
    padding-left: 12px;
    padding-bottom: 4px;
    padding-right: 12px;
    margin: 10px;
}

.tags a:hover {
    background-color: #1E1E1E;
    color: #ffffff;
}

.content h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    margin-bottom: 8px;
}

.content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #919191;
}

.titles a:hover {
    color: red;
}

.content-pages {
    margin: 0 auto;
    max-width: 152px;
    display: flex;
    gap: 10px;
}

.content-pages-box {
    line-height: 1.5;
    font-size: 24px;
}

.content-pages-box a {

    font-family: "Noto Sans", serif;
    color: #3B3B3B;
    padding: 4px 13px;
    border-radius: 4px;
}

.content-pages-box a:hover {
    background-color: #1E1E1E;
    color: #ffffff;
}

/*RWD手機板 作品集內容*/
@media(max-width: 767px) {
    .wrap-content {
        padding: 80px 0;
    }

    .content {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .content img {
        max-width: 375px;
        height: auto;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 16px;
    }

    .titles {
        margin-bottom: 16px;
    }

    .items {
        margin-bottom: 48px;
    }
}

/*表尾*/
.wrap-footer {
    background-color: #FAFAFA;
    background-image: url(../img/footer-bg-lg.png);
    height: 424px;
    background-size: cover;
    background-position: center;
}

.footer {
    max-width: 1296px;
    height: 424px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    color: #3B3B3B;
}

.card img {
    width: 120px;
}

.card a {
    color: #919191;
}

.card a:hover {
    color: red;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.social-box {
    width: 306px;
}

.social-box a {
    height: 72px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    gap: 8px;
    border-radius: 8px;
    outline: 1px solid #C1C1C1;
    background-color: #FFFFFF;
}

.social-box a:hover {
    background-color: #1E1E1E;
    color: #fff;
}

/*RWD手機板 表尾*/
@media(max-width: 767px) {
    .wrap-footer{
        background-image: url(../img/footer-bg-sm.png);
        height: 538px;
    }
    .footer{
        flex-direction: column;
    }
    .card{
        font-size: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 12px;
    }
    .social{
        padding-bottom: 40px;
    }
    .social-box{
        height: 64px;
    }
}

/*展示hover效果用*/
.default a {
    background-color: #1E1E1E;
    color: #fff;
}